[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lakshmi/Desktop/RRB GROUP D 2022.pdf]
row=2
col=0

[788A5A738A5A2E3E]
row=0
col=0

[Trash]
row=5
col=10

[/]
row=1
col=0

[/home/lakshmi]
row=5
col=11

